[Unit]
Description=Steam Update Dispatcher Restart Service

[Service]
Type=oneshot
ExecStart=/bin/systemctl try-restart steam-update-dispatcher.service
