[Unit]
Description=Steam Update Dispatcher Restart Service
RefuseManualStart=yes

[Service]
Type=oneshot
ExecStart=/bin/systemctl try-restart steam-update-dispatcher.service
