[Unit]
Description=Traefik Proxy Socket (WebSecure)

[Socket]
ListenStream=443
FileDescriptorName=websecure
Service=traefik.service
FreeBind=true
BindIPv6Only=both

[Install]
WantedBy=sockets.target