[Unit]
Requires=postgres.service 
Requires=redis.service
After=postgres.service 
After=redis.service

[Container]
ContainerName=authentik-server
Environment=AUTHENTIK_REDIS__HOST=redis 
Environment=AUTHENTIK_POSTGRESQL__HOST=postgres 
Environment=AUTHENTIK_POSTGRESQL__USER=authentik 
Environment=AUTHENTIK_POSTGRESQL__NAME=authentikdb 
Environment=AUTHENTIK_COOKIE_DOMAIN=${MAIN_DOMAIN}
EnvironmentFile=/etc/secc/env/authentik.env
Exec=server
Image=ghcr.io/goauthentik/server:2025.10.3
Label=traefik.enable=true 
Label=traefik.http.routers.authentik.rule="Host(`authentik.${MAIN_DOMAIN}`) || HostRegexp(`{subdomain:[a-z0-9-]+}.${MAIN_DOMAIN}`) && PathPrefix(`/outpost.goauthentik.io/`)" 
Label=traefik.http.routers.authentik.entrypoints=websecure 
Label=traefik.http.routers.authentik.tls.certresolver=cloudflare_main 
Label=traefik.http.routers.authentik.service=authentik 
Label=traefik.http.routers.authentik.middlewares=crowdsec 
Label=traefik.http.services.authentik.loadbalancer.server.port=9000 
Label=traefik.http.middlewares.forwardAuth-authentik.forwardauth.address=https://authentik.${MAIN_DOMAIN}/outpost.goauthentik.io/auth/traefik 
Label=traefik.http.middlewares.forwardAuth-authentik.forwardauth.trustForwardHeader=true 
Label=traefik.http.middlewares.forwardAuth-authentik.forwardauth.authResponseHeaders=X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid,X-authentik-jwt,X-authentik-meta-jwks,X-authentik-meta-outpost,X-authentik-meta-provider,X-authentik-meta-app,X-authentik-meta-version 
Label=homepage.group=Main 
Label=homepage.name=Authentik 
Label=homepage.icon=authentik.png 
Label=homepage.description=Authentik 
Label=homepage.href=https://authentik.${MAIN_DOMAIN} 
Label=homepage.widget.type=authentik 
Label=homepage.widget.url=https://authentik.${MAIN_DOMAIN} 
Label=homepage.widget.key=${AUTHENTIK_TOKEN} 
Label=wud.tag.include=^\\d+\\.\\d+\\.\\d+$$
Network=net-proxy.network
Network=net-postgres.network
Network=net-redis.network
Network=net-prometheus.network
Volume=geoip.volume:/geoip

[Service]
Restart=always