[Unit]
Requires=postgres.service 
Requires=redis.service
After=postgres.service 
After=redis.service

[Container]
ContainerName=authentik-worker
Environment=AUTHENTIK_REDIS__HOST=redis 
Environment=AUTHENTIK_POSTGRESQL__HOST=postgres 
Environment=AUTHENTIK_POSTGRESQL__USER=authentik 
Environment=AUTHENTIK_POSTGRESQL__NAME=authentikdb
EnvironmentFile=/etc/secc/env/authentik.env
Exec=worker
Image=ghcr.io/goauthentik/server:2025.8.4
Label=wud.tag.include=^\\d+\\.\\d+\\.\\d+$$
Network=net-proxy
Network=net-postgres
Network=net-redis
Volume=geoip.volume:/geoip

[Service]
Restart=always