[Container]
ContainerName=beszel
Environment=DISABLE_PASSWORD_AUTH=true 
Environment=USER_CREATION=true
HealthCmd=["/beszel","health","--url","http://localhost:8090"]
HealthInterval=30s
HealthRetries=5
HealthStartPeriod=5s
HealthTimeout=5s
Image=ghcr.io/henrygd/beszel/beszel:0.15.0
Label=traefik.enable=true 
Label=traefik.http.routers.beszel.rule=Host(`beszel.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.beszel.entrypoints=websecure 
Label=traefik.http.routers.beszel.tls.certresolver=cloudflare_main 
Label=traefik.http.routers.beszel.middlewares=tailscaleAL
Network=net-proxy.network
Volume=/data/beszel:/beszel_data

[Service]
Restart=always
