[Container]
ContainerName=beszel-agent
Environment=LISTEN=45876
EnvironmentFile=/etc/secc/env/beszel-agent.env
HealthCmd=["/agent","health"]
HealthInterval=30s
HealthRetries=5
HealthStartPeriod=5s
HealthTimeout=5s
Image=ghcr.io/henrygd/beszel/beszel-agent:0.14.1
Network=host
Volume=/var/run/docker.sock:/var/run/docker.sock:ro
Volume=/.beszel:/extra-filesystems/disk1:ro
Volume=/data/.beszel:/extra-filesystems/disk3:ro
Volume=/docker_data/.beszel:/extra-filesystems/disk4:ro

[Service]
Restart=always
