[Container]
ContainerName=obsidian-livesync
EnvironmentFile=/etc/secc/env/obsidian-livesync.env
HealthCmd=curl -f http://localhost:5984/_up
HealthStartPeriod=30s
Image=docker.io/library/couchdb:3
Label=traefik.enable=true 
Label=traefik.http.routers.obsidian-livesync.rule=Host(`obsidian-livesync.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.obsidian-livesync.entrypoints=websecure 
Label=traefik.http.routers.obsidian-livesync.tls.certresolver=cloudflare_main 
Label=traefik.http.services.obsidian-livesync.loadbalancer.server.port=5984 
Label=traefik.http.routers.obsidian-livesync.middlewares=tailscaleAL 
Label=traefik.http.middlewares.obsidiancors.headers.accesscontrolallowmethods=GET,PUT,POST,HEAD,DELETE 
Label=traefik.http.middlewares.obsidiancors.headers.accesscontrolallowheaders=accept,authorization,content-type,origin,referer 
Label=traefik.http.middlewares.obsidiancors.headers.accesscontrolalloworiginlist=app://obsidian.md,capacitor://localhost,http://localhost 
Label=traefik.http.middlewares.obsidiancors.headers.accesscontrolmaxage=3600 
Label=traefik.http.middlewares.obsidiancors.headers.addvaryheader=true 
Label=traefik.http.middlewares.obsidiancors.headers.accessControlAllowCredentials=true 
Label=wud.tag.include=^\\d+$$
Network=net-proxy.network
UserNS=keep-id:uid=1000,gid=1000
Volume=/data/obsidian-livesync/data:/opt/couchdb/data
Volume=/data/obsidian-livesync/local.ini:/opt/couchdb/etc/local.ini

[Service]
Restart=always