[Unit]
After=podman.socket
BindsTo=podman.socket

[Container]
ContainerName=dozzle
Environment=TZ=Europe/Paris 
Environment=DOZZLE_ENABLE_ACTIONS=true
Environment=DOZZLE_ENABLE_SHELL=true
Environment=DOZZLE_AUTH_PROVIDER=oidc 
Environment=DOZZLE_AUTH_OIDC_ISSUER=https://authentik.${MAIN_DOMAIN}/application/o/dozzle
Environment=DOZZLE_AUTH_OIDC_NAME=Authentik
Environment=DOZZLE_AUTH_OIDC_ROLES_CLAIM=dozzle_roles
Environment=DOZZLE_AUTH_OIDC_SCOPES=openid,profile,email,dozzle_roles
EnvironmentFile=/etc/secc/env/dozzle.env
HealthCmd=["/dozzle","healthcheck"]
HealthStartPeriod=30s
Image=docker.io/amir20/dozzle:v11
Label=traefik.enable=true 
Label=traefik.http.routers.dozzle.rule=Host(`dozzle.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.dozzle.entrypoints=websecure 
Label=traefik.http.routers.dozzle.tls.certresolver=cloudflare_main 
Label=traefik.http.routers.dozzle.middlewares=tailscaleAL
Label=wud.tag.include=^v\\d+$$
Network=net-proxy.network
Volume=/var/run/podman/podman.sock:/var/run/docker.sock
