[Container]
ContainerName=dozzle
Environment=TZ=Europe/Paris 
Environment=DOZZLE_AUTH_PROVIDER=forward-proxy 
Environment=DOZZLE_ENABLE_SHELL=true 
Environment=DOZZLE_AUTH_HEADER_USER=X-authentik-username 
Environment=DOZZLE_AUTH_HEADER_EMAIL=X-authentik-email 
Environment=DOZZLE_AUTH_HEADER_NAME=X-authentik-name
HealthCmd=["/dozzle","healthcheck"]
HealthInterval=30s
HealthRetries=5
HealthStartPeriod=30s
HealthTimeout=5s
Image=docker.io/amir20/dozzle:v8
Label=traefik.enable=true 
Label=traefik.http.routers.dozzle.rule=Host(`dozzle.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.dozzle.entrypoints=websecure 
Label=traefik.http.routers.dozzle.tls.certresolver=cloudflare_main 
Label=traefik.http.routers.dozzle.middlewares=tailscaleAL,forwardAuth-authentik 
Label=wud.tag.include=^v\\d+$$
Network=net-proxy.network
Volume=/var/run/docker.sock:/var/run/docker.sock

[Service]
Restart=always
