[Container]
ContainerName=garage
#HealthCmd=curl -f http://localhost:3903/health
Image=docker.io/dxflrs/garage:v2.1.0
Label=traefik.enable=true
Label=traefik.http.routers.garage.rule=Host(`garage.internal.${MAIN_DOMAIN}`)
Label=traefik.http.routers.garage.entrypoints=websecure
Label=traefik.http.routers.garage.tls.certresolver=cloudflare_main
Label=traefik.http.routers.garage.middlewares=tailscaleAL
Label=traefik.http.routers.garage.service=garage
Label=traefik.http.services.garage.loadbalancer.server.port=3902
Label=traefik.http.routers.s3.rule=Host(`s3.${MAIN_DOMAIN}`)
Label=traefik.http.routers.s3.entrypoints=websecure
Label=traefik.http.routers.s3.tls.certresolver=cloudflare_main
Label=traefik.http.middlewares.compress.compress=true
Label=traefik.http.routers.s3.service=s3
Label=traefik.http.services.s3.loadbalancer.server.port=3900
Label=wud.tag.include=^v\\d+.\\d+.\\d+$$
Network=net-proxy.network
Volume=/data/garage/garage.toml:/etc/garage.toml
Volume=/data/garage/meta:/var/lib/garage/meta
Volume=/data/garage/data:/var/lib/garage/data

[Service]
Restart=always