[Container]
ContainerName=geoipupdate
Environment="GEOIPUPDATE_EDITION_IDS=GeoLite2-City GeoLite2-ASN GeoLite2-Country" 
Environment=GEOIPUPDATE_FREQUENCY=8
EnvironmentFile=/etc/secc/env/geoipupdate.env
Image=ghcr.io/maxmind/geoipupdate:latest
Volume=geoip.volume:/usr/share/GeoIP

[Service]
Restart=always