[Unit]
Requires=postgres.service 
Requires=redis.service
After=postgres.service 
After=redis.service

[Container]
AddCapability=CAP_NET_BIND_SERVICE
ContainerName=gitea
Environment=USER_UID=103 
Environment=USER_GID=113 
Environment=GITEA__SERVICE__DISABLE_REGISTRATION=false 
Environment=GITEA__SERVICE__ENABLE_BASIC_AUTHENTICATION=false 
Environment=GITEA__SERVICE__ENABLE_PASSWORD_SIGNIN_FORM=false 
Environment=GITEA__SERVICE__ALLOW_ONLY_EXTERNAL_REGISTRATION=true 
Environment=GITEA__OAUTH2_CLIENT__ENABLE_AUTO_REGISTRATION=true 
Environment=GITEA__OPENID__ENABLE_OPENID_SIGNIN=false 
Environment=GITEA__SERVER__DOMAIN=git.${MAIN_DOMAIN} 
Environment=GITEA__SERVER__ROOT_URL=https://git.${MAIN_DOMAIN}/ 
Environment=GITEA__SERVER__LFS_START_SERVER=true 
Environment=GITEA__DATABASE__DB_TYPE=postgres 
Environment=GITEA__DATABASE__HOST=postgres:5432 
Environment=GITEA__DATABASE__NAME=giteadb 
Environment=GITEA__DATABASE__USER=gitea 
Environment=GITEA__CACHE__ADAPTER=redis 
Environment=GITEA__CACHE__HOST=redis://redis:6379/0?pool_size=100&idle_timeout=180s 
Environment=GITEA__SESSION__PROVIDER=redis 
Environment=GITEA__SESSION__PROVIDER_CONFIG=redis://redis:6379/0?pool_size=100&idle_timeout=180s 
Environment=GITEA__SERVER__SSH_PORT=22 
Environment=GITEA__SERVER__SSH_LISTEN_PORT=22 
Environment=GITEA__SERVER__OFFLINE_MODE=false
EnvironmentFile=/etc/secc/env/gitea.env
HealthCmd=["curl","-f","http://localhost:3000/api/healthz"]
HealthStartPeriod=30s
Image=docker.io/gitea/gitea:1.25-rootless
Label=traefik.enable=true 
Label=traefik.http.routers.gitea.rule=Host(`git.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.gitea.entrypoints=websecure 
Label=traefik.http.routers.gitea.tls.certresolver=cloudflare_main 
Label=traefik.http.services.gitea.loadbalancer.server.port=3000 
Label=traefik.http.routers.gitea.middlewares=crowdsec 
Label=crowdsec.enable=true 
Label=crowdsec.labels.type=gitea 
Label=wud.tag.include=^\\d+\\.\\d+-rootless$$
Network=net-proxy.network
Network=net-postgres.network
Network=net-redis.network
PublishPort=22:22
Volume=/data/gitea/data:/var/lib/gitea
Volume=/data/gitea/config:/etc/gitea
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always