[Container]
ContainerName=glances
Environment=TZ=Europe/Paris 
Environment=GLANCES_OPT=-w
HealthCmd=["curl","-f","http://localhost:61208/api/4/status"]
HealthStartPeriod=30s
Image=docker.io/nicolargo/glances:4.4.1
Label=traefik.enable=true 
Label=traefik.http.routers.glances.rule=Host(`glances.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.glances.entrypoints=websecure 
Label=traefik.http.routers.glances.tls.certresolver=cloudflare_main 
Label=traefik.http.services.glances.loadbalancer.server.port=61208 
Label=traefik.http.routers.glances.middlewares=tailscaleAL 
Label=homepage.group=Main 
Label=homepage.name=Glances 
Label=homepage.icon=glances.png 
Label=homepage.description=Glances 
Label=homepage.href=https://glances.internal.${MAIN_DOMAIN} 
Label=homepage.widget.type=glances 
Label=homepage.widget.url=https://glances.internal.${MAIN_DOMAIN} 
Label=homepage.widget.version=4 
Label=homepage.widget.metric=info 
Label=wud.tag.include=^\\d+\\.\\d+\\.\\d+$$
Network=host
PodmanArgs=--pid host --privileged
Volume=/var/run/podman/podman.sock:/var/run/docker.sock:ro
Volume=/etc/os-release:/etc/os-release:ro

[Service]
Restart=always
