[Container]
ContainerName=grafana
Environment=GF_AUTH_ANONYMOUS_ENABLED=true 
Environment=GF_AUTH_ORG_NAME=Lifesismana 
Environment=GF_RENDERING_SERVER_URL=http://localhost:8081/render 
Environment=GF_RENDERING_CALLBACK_URL=http://localhost:3000/ 
Environment=GF_INSTALL_PLUGINS=marcusolsson-calendar-panel
HealthCmd=curl -f http://localhost:3000/api/health
HealthInterval=30s
HealthRetries=5
HealthStartPeriod=30s
HealthTimeout=5s
Image=docker.io/grafana/grafana:12.2.1
Label=traefik.enable=true 
Label=traefik.http.routers.grafana.rule=Host(`grafana.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.grafana.entrypoints=websecure 
Label=traefik.http.routers.grafana.tls.certresolver=cloudflare_main 
Label=traefik.http.services.grafana.loadbalancer.server.port=3000 
Label=traefik.http.routers.grafana.middlewares=tailscaleAL 
Label=homepage.group=Main 
Label=homepage.name=Grafana 
Label=homepage.icon=grafana.png 
Label=homepage.description=Grafana 
Label=homepage.widget.type=grafana 
Label=homepage.widget.url=https://grafana.internal.${MAIN_DOMAIN} 
Label=homepage.widget.username=${GRAFANA_USER} 
Label=homepage.widget.password=${GRAFANA_PASSWORD} 
Label=wud.tag.include=^\\d+\\.\\d+\\.\\d+$$
Network=net-proxy.network
UserNS=keep-id:uid=1000,gid=1000
Volume=/data/grafana:/var/lib/grafana

[Service]
Restart=always