[Unit]
Requires=grafana.service
After=grafana.service

[Container]
ContainerName=grafana-renderer
Environment=ENABLE_METRICS=true
HealthCmd=wget -O - http://localhost:8081 &>/dev/null
HealthStartPeriod=30s
Image=docker.io/grafana/grafana-image-renderer:3.12.9
Label=wud.tag.include=^\\d+\\.\\d+\\.\\d+$$
Network=grafana.container

[Service]
Restart=always