[Container]
ContainerName=grist
Environment=TZ=Europe/Paris 
Environment=APP_HOME_URL=https://grist.${MAIN_DOMAIN} 
Environment=GRIST_SANDBOX_FLAVOR=gvisor 
Environment=TYPEORM_TYPE=postgres 
Environment=TYPEORM_DATABASE=gristdb 
Environment=TYPEORM_USERNAME=grist 
Environment=TYPEORM_HOST=postgres 
Environment=REDIS_URL=redis://redis:6379 
Environment=GRIST_OIDC_IDP_ISSUER=https://authentik.${MAIN_DOMAIN}/application/o/grist/.well-known/openid-configuration
EnvironmentFile=/etc/secc/env/grist.env
Image=docker.io/gristlabs/grist:latest
Label=traefik.enable=true 
Label=traefik.http.routers.grist.rule=Host(`grist.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.grist.entrypoints=websecure 
Label=traefik.http.routers.grist.tls.certresolver=cloudflare_main
Network=net-proxy.network
Network=net-postgres.network
Network=net-redis.network
Volume=/data/grist:/persist

[Service]
Restart=always