[Container]
ContainerName=hedgedoc
Environment=CMD_DOMAIN=hedgedoc.${MAIN_DOMAIN} 
Environment=CMD_PROTOCOL_USESSL=true 
Environment=CMD_URL_ADDPORT=false 
Environment=CMD_DB_HOST=postgres 
Environment=CMD_DB_PORT=5432 
Environment=CMD_DB_USERNAME=hedgedoc 
Environment=CMD_DB_DATABASE=hedgedocdb 
Environment=CMD_DB_DIALECT=postgres 
Environment=CMD_EMAIL=false 
Environment=CMD_ALLOW_EMAIL_REGISTER=false 
Environment=CMD_OAUTH2_PROVIDERNAME=authentik 
Environment=CMD_OAUTH2_SCOPE="openid profile email" 
Environment=CMD_OAUTH2_USER_PROFILE_URL=https://authentik.${MAIN_DOMAIN}/application/o/userinfo/ 
Environment=CMD_OAUTH2_TOKEN_URL=https://authentik.${MAIN_DOMAIN}/application/o/token/ 
Environment=CMD_OAUTH2_AUTHORIZATION_URL=https://authentik.${MAIN_DOMAIN}/application/o/authorize/ 
Environment=CMD_OAUTH2_USER_PROFILE_USERNAME_ATTR=preferred_username 
Environment=CMD_OAUTH2_USER_PROFILE_DISPLAY_NAME_ATTR=name 
Environment=CMD_OAUTH2_USER_PROFILE_EMAIL_ATTR=email 
Environment=CMD_IMAGE_UPLOAD_TYPE=minio 
Environment=CMD_S3_BUCKET=hedgedoc 
Environment=CMD_MINIO_ENDPOINT=minio.${MAIN_DOMAIN} 
Environment=CMD_MINIO_SECURE=true
EnvironmentFile=/etc/secc/env/hedgedoc.env
Image=quay.io/hedgedoc/hedgedoc:1.10.3
Label=traefik.enable=true 
Label=traefik.http.routers.hedgedoc.rule=Host(`hedgedoc.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.hedgedoc.entrypoints=websecure 
Label=traefik.http.routers.hedgedoc.tls.certresolver=cloudflare_main
Network=net-proxy
Network=net-postgres

[Service]
Restart=always