[Unit]
After=podman.socket
BindsTo=podman.socket

[Container]
ContainerName=homepage
Environment=HOMEPAGE_ALLOWED_HOSTS=home.${MAIN_DOMAIN}
Environment=HOMEPAGE_EXTERNAL_URL=https://home.${MAIN_DOMAIN}
Environment=HOMEPAGE_AUTH_ENABLED=true
Environment=HOMEPAGE_OIDC_ISSUER=https://authentik.${MAIN_DOMAIN}/application/o/homepage/
Environment=HOMEPAGE_OIDC_NAME=Authentik
Environment=HOMEPAGE_OIDC_AUTO_LOGIN=true
EnvironmentFile=/etc/secc/env/homepage.env
Image=ghcr.io/gethomepage/homepage:v2.4
Label=traefik.enable=true 
Label=traefik.http.routers.homepage.rule=Host(`home.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.homepage.entrypoints=websecure 
Label=traefik.http.routers.homepage.tls.certresolver=cloudflare_main 
Label=traefik.http.routers.homepage.middlewares=crowdsec 
Label=wud.tag.include=^v\\d+\\.\\d+$$
Network=net-proxy.network
Volume=/data/homepage:/app/config
Volume=/var/run/podman/podman.sock:/var/run/docker.sock:ro
