[Container]
ContainerName=homepage
Environment=HOMEPAGE_ALLOWED_HOSTS=home.${MAIN_DOMAIN}
Image=ghcr.io/gethomepage/homepage:v1.9
Label=traefik.enable=true 
Label=traefik.http.routers.homepage.rule=Host(`home.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.homepage.entrypoints=websecure 
Label=traefik.http.routers.homepage.tls.certresolver=cloudflare_main 
Label=traefik.http.routers.homepage.middlewares=forwardAuth-authentik,crowdsec 
Label=wud.tag.include=^v\\d+\\.\\d+$$
Network=net-proxy.network
Volume=/data/homepage:/app/config
Volume=/var/run/podman/podman.sock:/var/run/docker.sock:ro

[Service]
Restart=always
