[Unit]
Requires=minio.service 
Requires=postgres.service 
Requires=meilisearch.service
After=minio.service 
After=postgres.service 
After=meilisearch.service

[Container]
ContainerName=linkwarden
Environment=TZ=Europe/Paris 
Environment=NEXTAUTH_URL=https://linkwarden.${MAIN_DOMAIN}/api/v1/auth 
Environment=NEXT_PUBLIC_CREDENTIALS_ENABLED=false 
Environment=SPACES_ENDPOINT=http://minio:9000/ 
Environment=SPACES_BUCKET_NAME=linkwarden 
Environment=SPACES_REGION=eu-west-1 
Environment=SPACES_FORCE_PATH_STYLE=true 
Environment=NEXT_PUBLIC_AUTHENTIK_ENABLED=true 
Environment=AUTHENTIK_ISSUER=https://authentik.${MAIN_DOMAIN}/application/o/linkwarden 
Environment=MEILI_HOST=http://meilisearch:7700
EnvironmentFile=/etc/secc/env/linkwarden.env
Image=ghcr.io/linkwarden/linkwarden:v2.13.2
Label=traefik.enable=true 
Label=traefik.http.routers.linkwarden.rule=Host(`linkwarden.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.linkwarden.entrypoints=websecure 
Label=traefik.http.routers.linkwarden.tls.certresolver=cloudflare_main 
Label=traefik.http.services.linkwarden.loadbalancer.server.port=3000 
Label=wud.tag.include=^v\\d+\\.\\d+\\.\\d+$$
Network=net-proxy.network
Network=net-postgres.network
Network=net-meilisearch.network

[Service]
Restart=always