[Container]
ContainerName=traefik-logrotate
Environment=TZ=Europe/Paris 
Environment=CRON_SCHEDULE="0 * * * *"
Image=ghcr.io/vegardit/traefik-logrotate:latest
Network=none
Volume=/var/run/podman/podman.sock:/var/run/docker.sock
Volume=logs-traefik:/var/log/traefik
