[Container]
ContainerName=mazanoke
Image=ghcr.io/civilblur/mazanoke:v1.1.5
Label=traefik.enable=true 
Label=traefik.http.routers.mazanoke.rule=Host(`mazanoke.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.mazanoke.entrypoints=websecure 
Label=traefik.http.routers.mazanoke.tls.certresolver=cloudflare_main
Network=net-proxy

[Service]
Restart=always