[Container]
ContainerName=minio
Environment=MINIO_ENABLE_COMPRESSION=on 
Environment=MINIO_BROWSER_REDIRECT_URL=https://minio.internal.${MAIN_DOMAIN} 
Environment=MINIO_IDENTITY_OPENID_CONFIG_URL=https://authentik.${MAIN_DOMAIN}/application/o/minio/.well-known/openid-configuration 
Environment=MINIO_IDENTITY_OPENID_SCOPES=openid,profile,email,minio
EnvironmentFile=/etc/secc/env/minio.env
Exec=minio server /data --console-address :9001
HealthCmd=["mc","ready","local"]
HealthStartPeriod=15s
Image=quay.io/minio/minio:latest
Label=traefik.enable=true 
Label=traefik.http.routers.minio.rule=Host(`minio.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.minio.entrypoints=websecure 
Label=traefik.http.routers.minio.tls.certresolver=cloudflare_main 
Label=traefik.http.routers.minio.middlewares=crowdsec 
Label=traefik.http.routers.minio.service=minio 
Label=traefik.http.services.minio.loadbalancer.server.port=9000 
Label=traefik.http.routers.minio-console.rule=Host(`minio.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.minio-console.entrypoints=websecure 
Label=traefik.http.routers.minio-console.tls.certresolver=cloudflare_main 
Label=traefik.http.routers.minio-console.middlewares=crowdsec 
Label=traefik.http.routers.minio-console.service=minio-console 
Label=traefik.http.services.minio-console.loadbalancer.server.port=9001
Network=net-proxy.network
Network=net-postgres.network
Network=net-prometheus.network
UserNS=keep-id:uid=1000,gid=1000
Volume=/data/minio:/data

[Service]
Restart=always