[Container]
ContainerName=NetAlertX
Environment=TZ=Europe/Paris 
Environment=LISTEN_ADDR=127.0.0.1
HostName=NetAlertX
Image=ghcr.io/jokob-sk/netalertx:latest
Label=traefik.enable=true 
Label=traefik.http.routers.netalertx.rule=Host(`netalertx.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.netalertx.entrypoints=websecure 
Label=traefik.http.routers.netalertx.tls.certresolver=cloudflare_main 
Label=traefik.http.services.netalertx.loadbalancer.server.port=20211 
Label=traefik.http.routers.netalertx.middlewares=tailscaleAL 
Label=homepage.group=Main 
Label=homepage.name=NetAlertX 
Label=homepage.icon=netalertx.png 
Label=homepage.description=NetAlertX 
Label=homepage.href=https://netalertx.internal.${MAIN_DOMAIN} 
Label=homepage.widget.type=netalertx 
Label=homepage.widget.url=https://netalertx.internal.${MAIN_DOMAIN}
Network=host
Volume=/data/netalertx/db:/app/db
Volume=/data/netalertx/config:/app/config

[Service]
Restart=always
