[Container]
ContainerName=portainer
Image=docker.io/portainer/portainer-ce:2.35.0
Label=traefik.enable=true 
Label=traefik.http.routers.portainer.rule=Host(`portainer.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.portainer.entrypoints=websecure 
Label=traefik.http.routers.portainer.tls.certresolver=cloudflare_main 
Label=traefik.http.services.portainer.loadbalancer.server.port=9000 
Label=traefik.http.routers.portainer.middlewares=tailscaleAL 
Label=homepage.group=Main 
Label=homepage.name=Portainer 
Label=homepage.icon=portainer.png 
Label=homepage.description=Portainer 
Label=homepage.href=https://portainer.internal.${MAIN_DOMAIN} 
Label=homepage.widget.type=portainer 
Label=homepage.widget.url=https://portainer.internal.${MAIN_DOMAIN} 
Label=homepage.widget.env=3 
Label=homepage.widget.key=${PORTAINER_TOKEN} 
Label=wud.tag.include=^\\d+\\.\\d+\\.\\d+$$
Network=net-proxy.network
Volume=/data/portainer:/data

[Service]
Restart=always
