[Container]
ContainerName=postgres-14
EnvironmentFile=/etc/secc/env/postgres-14.env
HealthCmd=pg_isready -U postgres
HealthStartPeriod=20s
Image=docker.io/library/postgres:14
Label=wud.watch=false
Network=none
Volume=/data/postgres-14:/var/lib/postgresql/data
Volume=postgres14.volume:/var/run/postgresql

[Service]
Restart=always