[Container]
ContainerName=prometheus
Exec=--config.file=/etc/prometheus/prometheus.yml \
     --storage.tsdb.path=/prometheus \
     --web.console.libraries=/etc/prometheus/console_libraries \
     --web.console.templates=/etc/prometheus/consoles'
Group=1000
HealthCmd=wget -O - http://localhost:9090 &>/dev/null
HealthInterval=30s
HealthRetries=5
HealthStartPeriod=30s
HealthTimeout=5s
Image=quay.io/prometheus/prometheus:v3.7.1
Label=traefik.enable=true 
Label=traefik.http.routers.prometheus.rule=Host(`prometheus.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.prometheus.entrypoints=websecure 
Label=traefik.http.routers.prometheus.tls.certresolver=cloudflare_main 
Label=traefik.http.services.prometheus.loadbalancer.server.port=9090 
Label=traefik.http.routers.prometheus.middlewares=tailscaleAL 
Label=homepage.group=Main 
Label=homepage.name=Prometheus 
Label=homepage.icon=prometheus.png 
Label=homepage.description=Prometheus 
Label=homepage.href=https://prometheus.internal.${MAIN_DOMAIN} 
Label=homepage.widget.type=prometheus 
Label=homepage.widget.url=https://prometheus.internal.${MAIN_DOMAIN} 
Label=wud.tag.include=^v\\d+\\.\\d+\\.\\d+$$
Network=net-proxy.network
Network=net-prometheus.network
User=1000
Volume=/data/prometheus:/prometheus
Volume=/etc/secc/prometheus:/etc/prometheus

[Service]
Restart=always