[Unit]
Requires=redbot.service
After=redbot.service

[Container]
ContainerName=red-dashboard
Environment=TZ=Europe/Paris
Image=ghcr.io/phasecorex/red-dashboard:latest
Label=traefik.enable=true 
Label=traefik.http.routers.reddash.rule=Host(`red-dashboard.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.reddash.entrypoints=websecure 
Label=traefik.http.routers.reddash.tls.certresolver=cloudflare_main 
Label=traefik.http.services.reddash.loadbalancer.server.port=42356 
Label=traefik.http.routers.reddash.middlewares=crowdsec
Network=redbot.container
Volume=/data/red-dashboard:/data

[Service]
Restart=always