[Container]
ContainerName=redis
Exec=--save 60 1 --loglevel warning
HealthCmd=redis-cli ping | grep PONG
HealthStartPeriod=20s
Image=docker.io/library/redis:8-alpine
Label=wud.tag.include=^\\d+-alpine$$
Network=net-redis.network
Volume=/data/redis:/data

[Service]
Restart=always