[Container]
ContainerName=redis-exporter
Environment=REDIS_ADDR=redis:6379 
Environment=REDIS_USER=null
Image=ghcr.io/oliver006/redis_exporter:v1.79.0
Network=net-redis
Network=net-prometheus

[Service]
Restart=always