[Container]
ContainerName=redis-exporter
Environment=REDIS_ADDR=redis:6379 
Environment=REDIS_USER=null
Image=ghcr.io/oliver006/redis_exporter:v1.80.0
Network=net-redis.network
Network=net-prometheus.network

[Service]
Restart=always