[Unit]
Requires=influxdb.service
After=influxdb.service

[Container]
ContainerName=scrutiny-web
Environment=SCRUTINY_WEB_INFLUXDB_HOST=influxdb
EnvironmentFile=/etc/secc/env/scrutiny.env
HealthCmd=["curl","-f","http://localhost:8080/api/health"]
HealthInterval=30s
HealthRetries=5
HealthStartPeriod=10s
HealthTimeout=5s
Image=ghcr.io/analogj/scrutiny:master-web
Label=traefik.enable=true 
Label=traefik.http.routers.scrutiny.rule=Host(`scrutiny.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.scrutiny.entrypoints=websecure 
Label=traefik.http.routers.scrutiny.tls.certresolver=cloudflare_main 
Label=traefik.http.services.scrutiny.loadbalancer.server.port=8080 
Label=traefik.http.routers.scrutiny.middlewares=tailscaleAL 
Label=homepage.group=Main 
Label=homepage.name=Scrutiny 
Label=homepage.icon=scrutiny.png 
Label=homepage.href=https://scrutiny.internal.${MAIN_DOMAIN} 
Label=homepage.description=Scrutiny 
Label=homepage.widget.type=scrutiny 
Label=homepage.widget.url=https://scrutiny.internal.${MAIN_DOMAIN}
Network=net-proxy
Network=net-influxdb
Volume=/data/scrutiny:/opt/scrutiny/config