[Container]
ContainerName=steam-watcher
Environment=TZ=Europe/Paris
Image=ghcr.io/lifeismana/steam-watcher:latest
Network=net-proxy.network
Volume=/data/steam-watcher:/usr/src/app/config/
#is that network needed?

[Service]
Restart=always