[Container]
ContainerName=steam-update-dispatcher
Environment=TZ=Europe/Paris
EnvironmentFile=/etc/secc/env/steam-update-dispatcher.env
Image=ghcr.io/steamtracking/steam-update-dispatcher:latest
Volume=/data/steam-update-dispatcher:/var/cache/steam-update-dispatcher

[Service]
Environment=REGISTRY_AUTH_FILE=/etc/secc/podman/auth.json
Restart=always