[Container]
ContainerName=watchtower
Environment=TZ=Europe/Paris 
Environment=WATCHTOWER_CLEANUP=true 
Environment=DOCKER_API_VERSION=1.45 
Environment=WATCHTOWER_SCHEDULE="0 0 5 * * *" 
Environment=WATCHTOWER_TIMEOUT=5m 
Environment=WATCHTOWER_HTTP_API_METRICS=true 
Environment=WATCHTOWER_HTTP_API_TOKEN=${WATCHTOWER_TOKEN}
Image=ghcr.io/nicholas-fedor/watchtower:1.12.1
Label=traefik.enable=true 
Label=traefik.http.routers.watchtower.rule=Host(`watchtower.internal.${MAIN_DOMAIN}`) 
Label=traefik.http.routers.watchtower.entrypoints=websecure 
Label=traefik.http.routers.watchtower.tls.certresolver=cloudflare_main 
Label=traefik.http.routers.watchtower.middlewares=tailscaleAL 
Label=homepage.group=Main 
Label=homepage.name=Watchtower 
Label=homepage.icon=watchtower.png 
Label=homepage.description=Watchtower 
Label=homepage.widget.type=watchtower 
Label=homepage.widget.url=https://watchtower.internal.${MAIN_DOMAIN} 
Label=homepage.widget.key=${WATCHTOWER_TOKEN} 
Label=wud.tag.include=^\\d+\\.\\d+\\.\\d+$$
Network=net-proxy.network
Volume=/var/run/podman/podman.sock:/var/run/docker.sock

[Service]
Restart=always
