[Container]
ContainerName=zipline
Environment=DATASOURCE_TYPE=s3 
Environment=DATASOURCE_S3_BUCKET=zipline 
Environment=DATASOURCE_S3_ENDPOINT=https://minio.${MAIN_DOMAIN} 
Environment=DATASOURCE_S3_FORCE_PATH_STYLE=true 
Environment=DATASOURCE_S3_REGION=eu-west-1
EnvironmentFile=/etc/secc/env/zipline.env
Image=ghcr.io/diced/zipline:v4
Label=traefik.enable=true 
Label=traefik.http.routers.zipline.rule=Host(`${SECONDARY_DOMAIN}`) 
Label=traefik.http.routers.zipline.entrypoints=websecure 
Label=traefik.http.routers.zipline.tls.certresolver=cloudflare_main 
Label=traefik.http.services.zipline.loadbalancer.server.port=3000 
Label=wud.tag.include=^v\\d+$$
Network=net-postgres
Network=net-proxy

[Service]
Restart=always